header{
    display: flex;
    justify-content: center;
}

.navbar_container{
    max-width: 1000px;
    height: 92px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    border: 1px solid white;
    align-items: center;
    margin: auto;
    position: fixed;
    margin-top: 20px;

    .course_div{
        max-width: 150px;
        height: 50px;
        width: 100%;
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 7px;
        
        .course_image{
            max-width: 45px;
            height: 40px;
            width: 100%;
        }

        .course_h1{
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 1.6;
        }
    }


    .navbar_links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a{
            color: rgb(0, 0, 0);
            font-size: 15px;
            font-weight: 600;
        }
    }

    .telefon_div{
        max-width: 200px;
        height: 92px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffb606;

        .telefon_image{
            width: 20px;
            height: 20px;
        }
    }
}